html {
    scroll-behavior: smooth;
    font-size: calc(1vw / 12.8);
}

@media (max-width: 768px) {
    html {
        font-size: calc(1vw / 7.68);
    }
}

@media (max-width: 320px) {
    html {
        font-size: calc(1vw / 3.2);
    }
}

body {
    background-color: rgb(42, 40, 40);
}

.mem {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.mem-slider {
    width: 100%;
    display: block;
    position: relative;
    overflow: hidden;
    margin-top: 45rem;
}

input[type="radio"] {
    display: none;
}

.conteineer-mem {
    display: none;
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

input#slide1:checked ~ .slides #conteineer-1,
input#slide2:checked ~ .slides #conteineer-2,
input#slide3:checked ~ .slides #conteineer-3,
input#slide4:checked ~ .slides #conteineer-4 {
    display: flex;
    flex-direction: column;
    opacity: 1;
    transform: translateX(0);
    width: 100%;
    height: 100%;
}
input#slide1:not(:checked) ~ .mem-slider #conteineer-1,
input#slide2:not(:checked) ~ .mem-slider #conteineer-2,
input#slide3:not(:checked) ~ .mem-slider #conteineer-3,
input#slide4:not(:checked) ~ .mem-slider #conteineer-4 {
    opacity: 0;
    transform: translateX(-100%);
    z-index: 0;
}

.info-mem {
    display: flex;
    justify-content: space-between;
    margin: 10rem 35rem;
}

@media (max-width: 768px) {
    .info-mem {
        flex-direction: column-reverse;
        align-items: center;
    }
}

.text-mem {
    font-size: 20em;
    color: white;
    margin-top: 20rem;
    transform: translateY(20%);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

input#slide1:checked ~ .info-mem #text-1,
input#slide2:checked ~ .info-mem #text-2,
input#slide3:checked ~ .info-mem #text-3,
input#slide4:checked ~ .info-mem #text-4 {
    opacity: 1;
    transform: translateY(0);
    visibility: visible; /* Делает текст видимым */
}
input#slide1:not(:checked) ~ .info-mem #text-1,
input#slide2:not(:checked) ~ .info-mem #text-2,
input#slide3:not(:checked) ~ .info-mem #text-3,
input#slide4:not(:checked) ~ .info-mem #text-4 {
    opacity: 0;
    transform: translateY(20%);
}
.btn-mem {
    font-size: 40em;
    color: rgb(23, 240, 92);
    cursor: pointer;
    padding: 0.2em;
    transition: color 0.3s ease, transform 0.3s ease;
}

.btn-mem:hover {
    color: rgb(199, 238, 211);
}

input#slide1:checked ~ .info-mem .button label[for="slide1"],
input#slide2:checked ~ .info-mem .button label[for="slide2"],
input#slide3:checked ~ .info-mem .button label[for="slide3"],
input#slide4:checked ~ .info-mem .button label[for="slide4"] {
    color: rgb(25, 67, 38);
    transform: scale(1.5);
    border: 2px solid rgb(23, 240, 92);
}

.button {
    display: flex;
    gap: 1em;
    justify-content: flex-end;

}

@media (max-width: 768px) {
    .button {
        margin: auto;
        justify-content: center;
    }
}
