html {
    scroll-behavior: smooth;
    font-size: calc(1vw/12.8);
    @media (max-width: 768px) {
        font-size: calc(1vw/7.68);
    }
    @media (max-width: 320px) {
        font-size: calc(1vw/3.2);
    }
}

body {
    background-color: rgb(42, 40, 40);
}

.mem-slider {
    display: block;
    position: relative;
    overflow: hidden;
    width: 800rem;
    margin: auto;
}

.conteineer-mem {
    display: none; 
    transform: translateX(100%);
    opacity: 0;
    box-shadow: 0rem 5rem 10rem 0rem rgba(0, 0, 0, 0.5);
    z-index: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;

}

.conteineer-mem.active {
    display: flex;
    margin: auto;
    margin-top: 10%;
    flex-direction: column;
    opacity: 1;
    transform: translateX(0);
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease, opacity 0.5s ease;
    z-index: 1; 
}

.info-mem {
    display: flex;
    justify-content: space-between;
    margin: 10rem 35rem;
}

.text-mem {
    font-size: 20em;
    color: white;
    margin-top: 20rem;
}

.btn-mem {
    font-size: 40em;
    color: rgb(23, 240, 92);
    cursor: pointer;
}

.btn-mem:hover {
    color: rgb(189, 245, 206);
}

.btn-mem.active {
    border-color: rgb(23, 240, 92);
    color: rgb(42, 40, 40);
}
